body{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
    background: black;
}

.container{
    background: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 50px;

}

.uno{
    background: #f13929;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.dos{
    background: #7250ff;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.tres{
    background: #01d0fb;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}